body{

background-image: url(https://images.unsplash.com/photo-1529539795054-3c162aab037a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-repeat: no-repeat;
background-size: cover;
    
}

.form{

    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(8, 0, 0, 0.5);
    box-shadow: inset -5px -5px (0,0,0);
    border-radius: 25px;
}

.form h1{
    color: white;
    font-size: 2 rem;
    border-bottom: 4px solid white;
    margin: 50px;

}

.box{

    padding: 12px;
    margin: 20px;
    width:65% ;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-shadow:  inset -3px -3px(0,0,0);
    color:white;
    font-size: 1rem;
}

#submit{


    padding: 10px 20px;
    margin-top: 50px;
    width:50%;
    background-color:rgba(0,0,0,0.5);
    border-radius: 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-shadow:  inset -3px -3px(0,0,0.0.5);
    color:white;
    font-size: 1rem;
}
#submit:hover{
    cursor: pointer;
    background-color: rgba(16, 126, 169, 0.5);
}

::placeholder{


    color: white;
    opacity: 0.7;
}
